[user]
	name = Marlon Richert
	email = marlonrichert@users.noreply.github.com
[core]
	autocrlf = false
	excludesfile = /Users/marlon/.gitignore_global
	editor = code --wait
[remote]
	pushdefault = origin
[push]
	default = current
[pull]
	rebase = true
[merge]
	tool = opendiff
	autoStash = true
[rebase]
	autoStash = true
[branch]
	autosetuprebase = always
[diff]
	tool = opendiff
[difftool "opendiff"]
	cmd = /usr/bin/opendiff \"$LOCAL\" \"$REMOTE\" -merge \"$MERGED\" 2>/dev/null | cat
[alias]
	opendiff = difftool --no-prompt --tool opendiff --dir-diff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = always
[color "decorate"]
	HEAD = brightcyan normal italic
	remotebranch = brightmagenta normal
	grafted = red normal italic
	tag = yellow normal bold
	branch = brightcyan normal
	stash = brightblack normal
[color "status"]
	nobranch = red normal italic
	localbranch = brightcyan normal
	remotebranch = brightmagenta normal
	branch = brightcyan normal
	changed = yellow normal
	unmerged = red normal
	updated = green normal
	added = green normal
	untracked = normal normal dim
	header = normal normal
[color "interactive"]
	error = red normal italic
	help = brightblack normal
	header = normal normal
[color "branch"]
	remote = brightmagenta normal
	upstream = brightmagenta normal
	plain = brightcyan normal
	current = brightcyan normal reverse
	local = brightcyan normal
[color "grep"]
	function = brightgreen normal
	filename = white normal
	column = brightblack normal
	linenumber = brightblack normal
[color "remote"]
	success = green normal
	error = red normal
	warning = yellow normal
	hint = normal normal dim
[color "diff"]
	commit = yellow normal
	func = brightgreen normal
	whitespace = normal normal
